<main role="main">
    <article>
        <section id="top" class="text-center">
            <div class="jumbotron">
                <div class="container-fluid">
                    <h2>I'm Jake <small>a web developer.</small></h2>
                </div>
            </div>
        </section>

        <div class="container-fluid">
            <section id="intro" class="text-center">
                <div class="container-fluid">
                    <h3>Hi</h3>
                    <p>
                        I'm a full-stack web developer based in Dallas, Texas.
                        I have a passion for coding and love using my talents to bring ideas to life.
                        I'm currently employeed as a .NET Core developer at Baron &amp; Budd P. C. and available for freelance work.
                    </p>
                </div>
            </section>

            <section id="pitch" class="text-center">
                <div class="container-fluid">
                    <h3>What I can do for you</h3>
                    <p>
                        My goal is to further your brand or buisness by providing you with a website that meets
                        your current and future needs.
                    </p>
                    <section class="text-center">
                        <h4>Idenitify your needs</h4>
                        <p>
                            Developing a great site starts with identifying your needs. I work
                            with you to understand your concept and your buisness to ensure
                            that you aren't getting anything less (or more) than what your
                            buisness needs.
                        </p>
                    </section>
                    <section class="text-center">
                        <h4>Bring your ideas to life</h4>
                        <p>
                            My job is to make your vision a reality.
                            I develop my sites to look stunning across all devices using the latest technologies available.
                        </p>
                    </section>
                </div>
            </section>
        </div>
    </article>
</main>
