/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

$primary-text-color: #000;
$font: 'EB Garamond', serif;
$font2: 'Bubbler One', sans-serif;
$font3: 'Bungee', cursive;

body {
    padding-top: 50px;
    color: $primary-text-color;
}

p {
    font-family: $font;
    font-weight: 300;
    font-size: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font3;
}

p > a, p > a:hover, {
    text-decoration: none;
    border-bottom: 1px solid $primary-text-color;
    color: $primary-text-color;
}

footer li > a, footer li > a:hover {
    text-decoration: none;
    color: $primary-text-color;
}

.nav-container, footer {
    background-color: #eee;
}

nav {
    font-family: $font;
}
