<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid nav-container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Jake Doyle" src="...">
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <%= nav_link "Home", root_path %>
                <!-- TODO
                  nav_link "Bio", bio_path
                  nav_link "Blog", blog_path
                -->
                <%= nav_link "Resume", resume_path %>
                <%= nav_link "Contact", contact_path %>
            </ul>
        </div>
    </nav>
</header>
