<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <title>Jake Doyle - Web Developer</title>

    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!--<link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Bubbler+One|Bungee|EB+Garamond" rel="stylesheet">


    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => "reload" %>
  </head>

  <body>
      <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid nav-container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img alt="Jake Doyle" src="...">
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Hello</a></li>
                    <li><a href="./bio.html">Bio</a></li>
                    <li><a href="./blog.html">Blog</a></li>
                    <li><a href="./resume.html">Resume</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <%= yield %>
    <footer>
        <ul class="nav nav-justified">
            <li><a target="_blank" href="https://www.linkedin.com/in/jake-doyle-632a1357">LinkedIn</a></li>
            <li><a href="">Hire Me</a></li>
            <li><a target="_blank" href="https://github.com/inklr">GitHub</a></li>
        </ul>
        <p class="text-center">&copy; 2017 - <a href="jakedoyle.com">Jake Doyle</a></p>
    </footer>

    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <%= javascript_include_tag "application", "data-turbolinks-track" => "reload" %>
  </body>
</html>
